* {
	margin: 0px;
	padding: 0px;

}
header {
	background-image: linear-gradient(rgb(167, 165, 165),rgb(158, 157, 157));
	background-color: rgb(110, 110, 110);
	text-align: center;
	padding: 10px;
	color: #fff;
	box-shadow: 0px 0px 8px rgb(180, 180, 180);
}


body {
	background-color: rgb(228, 228, 228);
	font-family: Tahoma;
}

div#corpo {
	font-family: "Open Sans";
	width: 400px;
	height: 100%;
	margin: auto;
	/*box-shadow: 0px 0px 20px rgb(224, 224, 224);*/
	padding: 20px;
	background-color: white;
	
}
div.erro {
	color: rgb(197, 24, 24);
	margin-left: 30px;

}
div.sucesso {
	color: rgb(83, 196, 49);
}

img.mini {
	height: 70px;

}

img.grande {
	height: 400px;
}
section {
	margin-left:42px;
	margin-right:60px;
}

table.listagem {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.listagem tr {
	height: 50px;
}

table.listagem td {
	border: 1px solid #ddd;
	padding: 5px;
}

table.listagem tr:nth-child(even) {
	background-color: #f2f2f2;
}

table.listagem td:nth-child(1) {
	width: 50px;
	text-align: center;
}

table.listagem td:nth-child(3) {
	width: 90px;
	text-align: right;
}
select {
	height: 36px;
	width: 300px;
	border: solid 2px;
	border-radius: 10px;
	border-color: rgb(196, 196, 196);
	background-color: rgb(255, 255, 255);
	margin-bottom: 4px;
}
option {
	height: 36px;
	width: 300px;
	border: solid 2px;
	border-radius: 10px;
	border-color: rgb(196, 196, 196);
	background-color: rgb(255, 255, 255);
	margin-bottom: 4px;

}
table.detalhes td {
	vertical-align: top;
	padding: 10px;
	border: 2px solid rgb(218, 217, 217);
	border-radius: 10px;
}

p.pequeno {
	font-size: 8.7pt;
	text-align: right;
}
p#genros {
	color: rgb(111, 116, 124);
	font-size: 16px;
}
input#inp {
	
	background-color: rgb(197, 197, 197);
	width: 400px;
	height: 30px;
	border-radius: 5px;
	border-style: none;
	border: 1px solid #ccc;
	padding: 4px;
	
	
	
}

input#inp:hover {
	background-color: rgb(221, 221, 221);
	transition: 0.5s;


}
input#inp[type=text]:focus {
	background-color: rgb(221, 221, 221);
  }
a {
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a#nome {
	color: rgb(15, 15, 15);
	font-style: initial;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input#butao {
	text-decoration: none;
	border: none;
	color: rgb(24, 24, 24);
	height: 42px;
	background-color: rgb(255, 255, 255);
	margin-left: -5px;
	padding: 8px;
	border-radius: 4px;
}
a.cl {
	background-color: gray;
	padding: 5px;
	color: white;
	text-decoration: none;
	font-family: 'Lucida Sans'
}
a.cl:hover {
	background-color: rgb(184, 184, 184);
	color: rgb(19, 19, 19); 
	transition: 0.3s;

}
a#anewuser {
	padding: 6px;
	color: rgb(32, 32, 32);
	background-color: white;
	text-decoration: none;
	
}
a#anewuser:hover {
	transition: 0.2s;
	color: rgb(255, 255, 255);
	background-color: rgb(88, 88, 88);
	
}
input.butao1 {
	width: 100%;
	text-decoration: none;
	border: none;
	color: rgb(238, 238, 238);
	height: 42px;
	background-color: rgb(121, 121, 121);
	margin-left: -5px;
	padding: 8px;
	border-radius: 4px;
	margin-top: 8px;
	

}


a#titulo {
	color: white;
	text-decoration: none;
	
}
div#topop {
	
}
div#top {
	position: absolute;
	top: 45px;
	left: 1120px;
}
span#ff {
	position: absolute;
	top: -12px;
	left: 10px;
	color: white;
	width: 50px;
	font-size: 28px;
	
}
span#fff {
	position: absolute;
	top: -10px;
	right: 870px;
	color: white;
	width: 50px;
	font-size: 30px;
}
span#home {
	position: absolute;
	top: 30px;
	right: 1050px;
	color: white;
	width: 50px;
	font-size: 35px;
	
}
span#logout {
	position: absolute;
	top: -10px;
	right: 0px;
	color: white;
	width: 50px;

}
input.inputxt {
	height: 36px;
	width: 300px;
	border: solid 2px;
	border-radius: 10px;
	border-color: rgb(196, 196, 196);
	background-color: rgb(255, 255, 255);
	margin-bottom: 4px;

}
input.inputxt:hover {
	transition: 0.3s;
	background-color: rgb(238, 238, 238);
}

div#entrar>a  {
	margin-left: -40px;
	font-size: 15px;
	margin-bottom: -9px;
	padding: 6px;
	color: rgb(32, 32, 32);
	background-color: white;
	text-decoration: none;

}
div#entrar>a:hover {
	transition: 0.2s;
	color: rgb(255, 255, 255);
	background-color: rgb(88, 88, 88);
	
}



p#ademirostop {
	color: rgb(255, 255, 255);
	position: absolute;
	top: -4px;
	border-radius: 6px;
	left: -188px;
}
p.sairtopo>a {
	color: rgb(173, 223, 252);
}
footer {
	background-color: rgb(151, 151, 151);
	color: white;
}
a {
	color: rgb(0, 121, 219);
}
div#topnome {
	margin-top: 20px;
	font-size: 13px;
}
span {
	font-size: 50px;
}
@font-face {
    font-family:"Futura PT" ;
    src: url("fonts/futura-pt-light.otf") format("opentype"), url("fonts/Futura") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Open Sans" ;
    src: url("fonts/OpenSans-Regular.ttf"), url("fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
